.logo {
  @include font(26px, 700px, 1.19, $ls);

  font-family: "Raleway", sans-serif;

  text-decoration: none;

  &-header {
    display: inline-block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--primary-logo-color);
  }

  &-footer {
    color: #ffffff;
  }
}
