.backdrop {
  @include size(100%, 100%);
  @extend %transDtiming;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
}

.modal {
  @include size(581px, 528px);

  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--primary-background-color);
}

.close-button {
  @include size(30px, 30px);
  @extend %flex-center;

  position: absolute;

  cursor: pointer;

  top: 8px;
  right: 8px;

  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
}

.close-btn-symbol {
  @extend %transDtiming;

  fill: currentColor;
  transition-property: fill;
}

.close-button:hover .close-btn-symbol,
.close-button:focus .close-btn-symbol {
  color: var(--accent-color);
}

.is-hidden {
  @extend %transDtiming;

  opacity: 0;
  pointer-events: none;

  transition-property: opacity;
}

.modal-title {
  @include font(20px, $fw, 1.15);

  margin-top: 0px;
  margin-bottom: 12px;

  text-align: center;

  color: var(--primary-text-color);
}

.form-line {
  margin-top: 0px;
  margin-bottom: 10px;
}

.label-form {
  @include font(12px, $fw, 1.17, 0.01em);

  display: flex;
  margin-bottom: 4px;

  color: var(--secondary-text-color);
}

.form-line input {
  @include size(40px, 100%);
  @extend %transDtiming;

  padding-left: 42px;

  font-size: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-line {
  position: relative;
}

.icon-form {
  @include size(12px, 12px);

  position: absolute;
  top: 25%;
  left: 15px;
  transform: translateY(50%);

  fill: currentColor;
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .icon-form {
  fill: var(--accent-color);
}

.coment-option {
  display: flex;
  flex-direction: column;

  margin-top: 0px;
  margin-bottom: 20px;
}

.coment-option label {
  @include font(12px, $fw, 1.17, 0.01em);

  margin-bottom: 4px;

  color: var(--secondary-text-color);
}

.coment-text {
  @include size(120px, $w);
  @extend %transDtiming;

  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  border-radius: 4px;
}

.coment-text::placeholder {
  @include font(12px, $fw, 1.17, 00.01em);

  color: rgba(117, 117, 117, 0.5);
}

.coment-text:focus {
  border-color: var(--accent-color);
}

.accept-link {
  display: inline-flex;
  margin-left: 3px;
  color: var(--accent-color);
}

.policy-container {
  @include size($h, 100%);

  display: flex;
  justify-content: center;

  margin-top: 0px;
  margin-bottom: 30px;
}

.policy-container input {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.label-container {
  @include font(14px, $fw, 1.71, $ls);

  display: inline-block;

  color: var(--secondary-text-color);
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label-container::before {
  @include size(15px, 16px);

  content: "";
  display: inline-block;
  align-self: center;
  margin-right: 8px;

  background-image: url(../images/icons/Vector.svg);
}

.checkbox:checked + .label-container::before {
  border-color: transparent;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url(../images/icons/icon\ check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-bottom: 40px;
  padding: 10px 52px;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--primary-background-color);
  background-color: var(--active-btn-color);
}
