.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $colorBackgroundSecondary;

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .logo-footer {
    @extend %logo;

    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;

    color: #ffffff;
  }

  .contact-list.list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }

  .contact-address.link {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;

    color: $colorBackground;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-address:hover,
  .contact-address:focus {
    color: $colorAccent;
  }
  .contact-item.link {
    display: block;
    margin-top: 9px;
    margin-bottom: 0px;

    color: $colorContact;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-item:hover,
  .contact-item:focus {
    color: $colorAccent;
  }

  .social-footer {
    display: block;
    align-items: baseline;

    margin-left: 70px;
  }

  .footer-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;

    color: $colorBackground;
  }

  .footer-social {
    display: flex;
    margin-top: 20px;
    margin-right: auto;
    gap: 10px;
  }

  .footer-item {
    color: $colorBackground;
    background-color: $colorFooterItem;
  }

  .footer-form {
    display: block;
    align-items: baseline;
    margin-left: 93px;
  }

  .footer-form-elements {
    margin-top: 20px;
  }

  .footer-input {
    height: 50px;
    width: 358px;

    font-size: 16px;
    line-height: 1.25;
    padding: 15px 16px;

    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  .btn-footer {
    display: inline-flex;
    width: 200px;
    margin-left: 12px;
    padding-left: 28px;
    padding-top: 10px;

    padding-bottom: 10px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-footer::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/icons/icon\ send.svg);
  }

  .btn-footer:hover,
  .btn-footer-focus {
    color: $colorBackground;
    background-color: $colorButtonActive;
  }
}
