$colorPrimaryText: #212121;
$colorSecondaryText: #757575;
$colorAccent: #2196f3;
$colorBackground: #ffffff;
$colorBackgroundSecondary: #2f303a;
$colorLogoPrimary: #000000;
$colorContact: rgba(255, 255, 255, 0.6);
$colorButtonPrimary: #f5f4fa;
$colorButtonActive: #188ce8;
$colorBorder: #ececec;
$colorIcon: #afb1b8;
$colorFooterItem: rgba(255, 255, 255, 0.1);
$colorHeroBackground: #c4c4c4;
