.header-section {
  border-bottom: 1px solid var(--border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav .link {
  @include font(14px, 500, 1.14, 00.02em);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}

.site-nav .curent {
  display: block;
  position: relative;
  color: var(--accent-color);
}

.site-nav__item .curent::after {
  @include size(4px, 100%);

  content: "";
  position: absolute;
  display: block;
  bottom: -1px;

  border-radius: 2px;

  background: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.auth-nav .link {
  @include font(14px, 500, 1.14, 00.02em);

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
}

.link-contact {
  display: flex;

  color: var(--icon-color);
}

.icon-link {
  margin-right: 10px;
  fill: currentColor;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
